<!DOCTYPE html>
<html lang="en">
<div th:replace="~{/pages/sgext/head-sgext :: headerSgext}"></div>

<body class="layout-top-nav layout-footer-fixed layout-navbar-fixed">
  <style>
    .rightclickmenu {
      border: 1px solid #000;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;
      font: 11px;
      width: 14rem;
      display: none;
      background-color: rgb(255, 255, 255);
    }

    #rightclickobject {
      padding: 3px;
      display: block;
      /* width: 100px; */
      border-bottom: 1px solid #eee;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: none;
    }

    #rightclickobject:hover {
      background: #eee;
    }
  </style>

  <div class="rightclickmenu">
    <a id="rightclickobject" th:href="@{/sgext/}"> Página Inicial - SGExt</a>
    <a id="rightclickobject" th:href="@{/sgext/faq}"> FAQ</a>
    <a id="rightclickobject" th:href="@{/sgext/listserv-sgext}"> Lista Serventias</a>
    <a id="rightclickobject" th:href="@{/sgext/contacts-sgext}"> Responsáveis pelas Serventias</a>
    <a id="rightclickobject" th:href="@{/sgext/contact}"> Contato</a>
  </div>

  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Navbar -->
    <div th:replace="~{/pages/sgext/nav-sgext :: navSgext}"></div>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>FAQ</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">FAQ</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container"> <!-- BEGIN container -->
          <div class="row">
            <div class="col-12" id="accordion">

              <!-- BEGIN Each of Faqs List -->
              <div th:each="faq,iter : ${faqs}" class="card card-outline"
                th:attrappend="class=${' card-' + faq.importance}">

                <a class="d-block w-100" data-toggle="collapse" th:href="'#collapse' + ${iter.index}">
                  <div class="card-header">
                    <h4 class="card-title" th:text="${iter.index + '. ' + faq.question}"></h4>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modalDel"
                        th:attrappend="data-target=${faq.id}">
                        <i class="far fa-trash-alt" style="color: gray;"></i></button>
                      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modalEdit"
                        th:attrappend="data-target=${faq.id}">
                        <i class="fas fa-pen" style="color: gray;"></i></button>
                    </div>
                  </div>
                </a>

                <!-- BEGIN Collase of Accordion -->
                <div th:id="'collapse' + ${iter.index}" class="collapse" data-parent="#accordion">
                  <div class="card-body text-justify" th:text="${faq.answer}"></div>
                </div> <!-- END Collase of Accordion -->

                <!-- BEGIN modalDEL -->
                <div class="modal fade" id="modalDel" style="display: none;" aria-hidden="true"
                  th:attrappend="id=${faq.id}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" th:text="${'Deseja excluir a pergunta:'}">
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body" th:text="${'&quot;' + faq.question + '&quot;'}"></div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-secondary btn-flat"
                          data-dismiss="modal">Não</button>
                        <form th:action="@{faq/{id} (id=${faq.id})}" th:method="delete">
                          <button type="submit" class="btn btn-danger btn-flat">Sim</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> <!-- END modalDEL -->

                <!-- BEGIN modalEDIT -->
                <div class="modal fade" id="modalEdit" style="display: none;" aria-hidden="true"
                  th:attrappend="id=${faq.id}">
                  <div class="modal-dialog">

                    <form action="#" th:action="@{faq}" th:method="put" th:object="${newFaq}">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" th:text="${'Editar FAQ  #' + faq.id}">
                          </h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm">
                              <div class="form-group">
                                <input type="hidden" name="id" th:value="${faq.id}">
                                <label th:for="${'q' + iter.index}">Pergunta</label>
                                <input type="text" class="form-control" th:value="${faq.question}" name="question"
                                  th:id="${'q' + iter.index}">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm">
                              <div class="form-group">
                                <label>Resposta</label>
                                <textarea class="form-control" rows="4" style="height: 100px;" name="answer"
                                  th:text="${faq.answer}">
                                </textarea>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-sm">
                              <div class="form-group">
                                <label>Prioridade FAQ</label>


                                <div class="row px-2">
                                  <div th:each="imp, iter : ${importances}" class="btn-group col p-0" role="group" aria-label="Basic radio toggle button group">
                                    <!-- <div th:each="imp, iter : ${importances}"> -->

                                      <input type="radio" th:name="importance" autocomplete="off" class="btn-check"
                                        th:id="${imp + faq.id}"
                                        th:attr="checked=${faq.importance == imp ? '' : false }" th:value="${imp}">
                                      <label th:for="${imp + faq.id}" th:class="${'btn btn-flat btn-outline-' + imp}"
                                        th:text="${imp}"></label>

                                    <!-- </div> -->
                                  </div>
                                </div>


                                <!-- <div class="row px-2">
                                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" autocomplete="off" th:name="importance" class="btn-check"
                                      th:id="${'impInfo' + faq.id}"
                                      th:attr="checked=${faq.importance == 'info' ? '' : false }" value="info">
                                    <label class="btn btn-flat btn-outline-info" th:for="${'impInfo' + faq.id}">info
                                    </label>

                                    <input type="radio" autocomplete="off" th:name="importance" class="btn-check"
                                      th:id="${'impWarning' + faq.id}"
                                      th:attr="checked=${faq.importance == 'warning' ? '' : false }" value="warning">
                                    <label class="btn btn-flat btn-outline-warning"
                                      th:for="${'impWarning' + faq.id}">warning
                                    </label>

                                    <input type="radio" autocomplete="off" th:name="importance" class="btn-check"
                                      th:id="${'impSuccess' + faq.id}"
                                      th:attr="checked=${faq.importance == 'success' ? '' : false }" value="success">
                                    <label class="btn btn-flat btn-outline-success"
                                      th:for="${'impSuccess' + faq.id}">success
                                    </label>

                                    <input type="radio" autocomplete="off" th:name="importance" class="btn-check"
                                      th:id="${'impDanger' + faq.id}"
                                      th:attr="checked=${faq.importance == 'danger' ? '' : false }" value="danger">
                                    <label class="btn btn-flat btn-outline-danger"
                                      th:for="${'impDanger' + faq.id}">danger
                                    </label>
                                  </div>
                                </div> -->

                              </div>
                            </div>
                          </div>


                        </div>

                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-outline-secondary btn-flat"
                            data-dismiss="modal">Não</button>
                          <button type="submit" class="btn btn-danger btn-flat">Sim</button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div><!-- END modalEDIT -->

              </div><!-- END Each of Faqs List -->

            </div>
          </div>

        </div> <!-- /.END container -->
      </section>

      <div class="row">
        <div class="col-12 mt-3 text-center">
          <p class="lead">
            <a th:href="@{/sgext/contact}">Contate-nos</a>,
            se não encontrar uma resposta ou se tiver outra dúvida!<br />
          </p>
        </div>
      </div>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Fragment Footer: footer-sgext -->
    <div th:replace="~{/pages/sgext/footer-sgext :: footerSgext}"></div>
  </div>
  <!-- ./wrapper -->

  <script>
    window.addEventListener('contextmenu', function (e) {
      console.log(e)
      $('.rightclickmenu').css({
        "margin-left": e.clientX,
        "margin-top": e.clientY
      }).show()

      e.preventDefault();
      window.addEventListener('click', function () {
        $('.rightclickmenu').hide();
      })
    })
  </script>

  <!-- Fragment Footer: footerScript-sgext -->
  <div th:replace="~{/pages/sgext/footScript-sgext :: footScriptSgext}"></div>

</body>

</html>